*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: grey;
	font-family: sans-serif;
}

.who-we-are{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main .emp .des-img .designation{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main .emp .name{
	font-family: sans-serif;
}
/* for mobile screen */
@media screen and (min-width: 200px) and (max-width: 780px) {
	body{
		margin: 6% 3%;
	}

	header{
		margin-bottom: 15%;
	}

	header .title{
		font-size: 2.2em;
		margin-bottom: 13%;
	}

	.who-we-are h5{
		font-size: 1.2em;
		text-transform: uppercase;
		margin-bottom: 5%;
		
	}

	.who-we-are p{
		font-size: 1.1em;
		line-height: 1.5em;
		width: 90%;
	}

	main{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3,1fr);
		column-gap: 5%;
		row-gap: 1%;
		margin: 0 2%;
		margin-bottom: 20%;
	}
	main .m-top{
		margin-top: 25%;
	}

	main .m-bot{
		margin-bottom: 25%;
	}

	main .emp-img{
		min-width: 110px;
		max-width: 300px;
		margin-right: 2%;
	}

	main .emp-img img{
		width: 100%;
	}

	main .emp .des-img{
		display: flex;
		flex-direction: row;
	}

	main .emp .des-img .designation{
		text-transform: uppercase;
		font-size: .7em;
		writing-mode: vertical-rl;
		white-space: nowrap;
		display: block;
	}

	main .emp .name{
		font-size: 1.1em;
		font-weight: bold;
		
		text-transform: capitalize;
	}

	footer{
		text-align: center;

	}
}

/* for desktop screen */
@media screen and (min-width: 780px) {
	body{
		margin: 7% 14% 2% 14%;
		display: flex;
		flex-direction: column;
	}

	header{
		display: flex;
		flex-direction: row;
		margin-bottom: 8%;		
	}

	header .title{
		width: 50%;
		font-size: xx-large;
	}

	.who-we-are{
		width: 30%;
	}

	.who-we-are h5{
		font-size: 1.2em;
		padding-bottom: 2%;
		text-transform: uppercase;
	}

	.who-we-are p{
		font-size: 1.2em;
		line-height: 1.5em;
	}

	main{
		display: grid;
		grid-template-columns: repeat(3,minmax(150px,auto)); 
		grid-template-rows: repeat(2,1fr);
		row-gap: 2%;
		column-gap: 5%;
		margin-bottom: 10%;
	}

	main .d-top{
		margin-top: 30%;
	}

	main .d-bot{
		margin-bottom: 30%;
	}

	main .des-img{
		display: flex;
		flex-direction: row;
	}

	main .emp .emp-img{
		margin-right: 3%;
		width: 75%;
	}

	main .emp .emp-img img{
		width: 100%;
	}

	main .emp .designation{
		text-transform: uppercase;
		font-size: .7em;
		writing-mode: vertical-rl;
		white-space: nowrap;
		display: block;
	}

	main .emp .name{
		margin-top: 3%;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: capitalize;
	}

	footer{
		text-align: center;
		font-size: 1em;
	}
}